@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --winning-blocks: #312f2f;
}

body {
    color: var(--main-color);
    font-family: 'Finger Paint', cursive;
    background-color: var(--bg-color);
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--second-bg-color);
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--main-color);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}